<div class='inner-container rounded-3'>
    <div class='card'>
        <div class='text-center card-body rounded-3'>
            <h1>{{title}}</h1>
            <h2>Track your games, on any platform, for free!</h2>
        </div>
    </div>
    <hr />
    <div class='card'>
        <div class='card-body rounded-3'>
            <article class=''>
                We at PlayCalendar invites you to join our growing community focused on tracking the games you play and the games you want. Click on the "Games" link above, and you will find all the games being tracked right now!.<br />We hope you enjoy using our service and we hope to improve it for you, over time.
            </article>
            <hr />
            <img class='rounded-3 mx-auto d-block' src='images/joysticks-g75ff6bfb6_1920.jpg' alt='Image of Game controllers' width='100%' />
        </div>
    </div>
</div>
