<h1>Login to your PlayCalendar Account!</h1>

<div class='card'>
    <div class='row card-group rounded-3'>
        <form method='post'>
            <div class="card col-lg-6 mb-3">
                <div class="col-md">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="email" name="username" placeholder="name@example.com">
                        <label for="email">Email address</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" name="password" placeholder="testpass">
                        <label for="password">Password</label>
                    </div>
                </div>
            </div>
            <div class="card col-lg-6 col-lg-4 mb-3">
                <button class="btn btn-primary">Login</button>
                <hr />
                <h3>Log in with an outside provider</h3>
                <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <li><a class="btn btn-primary dropdown-item" href="/github">GitHub</a></li>
                            <li><a class="btn btn-primary dropdown-item" href="/google">Google</a></li>
                        </ul>
                    </div>
                <hr />
            </div>
        </form>
    </div>
</div>