<div class='inner-container col-6 rounded-3'>
    <div class='text-center'>
        <h1>Login to your PlayCalendar Account!</h1>
        {{#if messages}}
            <h2 class='alert alert-danger'>{{messages}}</h2>
        {{else}}
            <h2 class='alert alert-info'>Please enter your information</h2>
        {{/if}}
    </div>
        <form method='post'>
            <div class="rounded-3">
                <fieldset class='form-floating'>
                    <input type="email" class="form-control" id="email" name="username" placeholder="name@example.com">
                    <label for="email">Email address</label>
                </fieldset>
                <fieldset class='form-floating'>
                    <input type="password" class="form-control" id="password" name="password" placeholder="testpass">
                    <label for="password">Password</label>
                </fieldset>
            </div>
            <div class="text-center">
                <button class="btn btn-primary">Login</button>
                <hr />
                <h3>Log in with an outside provider</h3>
                <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <li><a class="btn btn-primary dropdown-item" href="/github">GitHub</a></li>
                            <li><a class="btn btn-primary dropdown-item" href="/google">Google</a></li>
                        </ul>
                </div>
            <hr />
        </div>
    </form>
</div>