body {
  padding: 50px;
  font: 20px "Roboto Mono", Helvetica, Arial, sans-serif;
  color: #212121;
  background-color: #F0F0F0;
}

nav {
  background-color: #B2DFDB;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

a {
  color: #00B7FF;
}

.form-floating {
  height: 200%;
  padding: 10px 10px;
}

.responsive-iframe {
  position: rerlative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 160%;
}

.btn-primary {
  background-color: #00796B;
}

.btn-primary:hover {
  background-color: #009688;
}

.btn-primary:active {
  background-color: #00BCD4;
}

.btn-secondary:hover {
  background-color: #54c5d4;
}

.dropdown-item:hover {
  background-color: #BDBDBD;
}

.inner-container {
  margin: 10px;
  padding: 10px;
  background-color: #BDBDBD;
}

.card-body {
  background-color: #00796B;
  -webkit-box-shadow: 10px 11px 26px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 11px 26px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 11px 26px 0px rgba(0,0,0,0.75);
}

.card-group {
  margin: 10px;
  padding-top: 10px;
  background-color: #BDBDBD;
}

h3.card-group {
  font-size: 20px;
}

h4.card-group {
  font-size: 18px;
}

p.card-group {
  font-size: 16px;;
}

.bg-light {
  color: #B2DFDB;
}

.navbar {
  background-color: #B2DFDB;
}

.nav-link:hover {
  background-color: #009688;
  -webkit-box-shadow: 10px 11px 26px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 11px 26px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 11px 26px 0px rgba(0,0,0,0.75);
}

.navbar-brand:hover {
  -webkit-box-shadow: 10px 11px 26px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 11px 26px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 11px 26px 0px rgba(0,0,0,0.75);
}